
.navbar {
    background-color: #0c907d;
    color: #0c907d;
    height: 70px;
}

.fas {
    color: white;
    font-size: 60px;
}

img { 
    max-width: 100%; 
    height: auto; 
}

.btn-outline-success {
    color: white;
    border-color: white;
}

.btn-about {
    background-color: transparent;
    color: white;
}