
.navbar {
    background-color: #0c907d;
    color: #0c907d;
    height: 70px;
}

.fas {
    color: white;
    font-size: 60px;
}

.banner {
    position: relative;
    height: 90%;
}

.lisbon-banner { 
    max-width: 100%; 
    width: 100%;
    height: 100%;
    object-fit: cover;
   

}

.pano-logo { 
    width: 300px; 
    max-width: 100%; 
    height: auto;
}

.btn-outline-success {
    color: white;
    border-color: white;
}

.btn-about {
    background-color: transparent;
    color: white;
}

